.background {
  viewport-fill: red;
}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

.clock {
    font-size: 140;
    fill: white;
    font-family: "System-Light";
}

.date {
  font-size: 30;
  fill: white;
  x: 20%-10;
  font-family: "System-Light";
}

.metric {
  font-size: 30;
  fill: white;
  x: 20%;
  font-family: "System-Light";
}

.logo {
  x: 20%-30;
  y: 47%+2;
  height: 25;
  width: 25;
}

.flame {
  fill: #fcd96f;
}

.step {
  fill: #34A1F2;
}

.heart {
  fill: #ff746d;
}